<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Copyright</strong> Austin Ahler 2020
      <br />
      <a href="https://bitbucket.org/austinahler/macro-calculator/src/master/">Link to the code</a>
    </p>
  </div>
</footer>
