<div class="navbar is-danger">
  <div class="navbar-brand">
    <div class="navbar-item">
      <h1 class="subtitle has-text-light">Macro Calculator</h1>
    </div>
    <a class="navbar-item" href="https://austinahler.web.app/">Home</a>
  </div>
</div>
