<div class="container">
    <div class="card">
        <div class="card-header">
            <div class="card-header-title">
                Macro Calculator
            </div>
        </div>
        <div class="card-content">
            <div class="field">
                <h1 *ngIf="invalid" class="has-text-danger">Please fill out the whole form</h1>
                <div class="label">Height</div>
                <input class="input" type="number" placeholder="Enter your height in inches" [(ngModel)]="height" required />
            </div>
            <div class="field">
                <div class="label">Weight</div>
                <input class="input" type="number" placeholder="Enter your weight in pounds" [(ngModel)]="weight" required />
            </div>
            <div class="field">
                <div class="label">Age</div>
                <input class="input" type="number" placeholder="Enter your age in years" [(ngModel)]="age" required />
            </div>
            <div class="field">
                <div class="label">Activity Level</div>
                <div class="select">
                    <select [(ngModel)]="activityLevel" required >
                        <option selected value=null>Please select an option</option>
                        <option value="1.2">Limited exercise</option>
                        <option value="1.375">Light exercise less than three days per week</option>
                        <option value="1.55">Moderate exercise most days of the week</option>
                        <option value="1.725">Hard exercise every day</option>
                        <option value="1.9">Strenuous exercise two or more times per day</option>
                    </select>
                </div>
            </div>
            <div class="field">
                <div class="label">Gender</div>
                <div class="select">
                    <select [(ngModel)]="gender" required >
                        <option selected value=null>Please select an option</option>
                        <option value=true>Male</option>
                        <option value=false>Female</option>
                    </select>
                </div>
            </div>
            <div class="field" *ngIf="result != null">
                <div class="label">Results</div>
                <p>{{result}} total calories a day</p>
            </div>
            <div class="card-footer">
                <div class="card-footer-item">
                    <div class="buttons">
                        <div class="button is-primary" (click)="calculate()">
                            Submit
                        </div>
                        <div class="button is-danger" (click)="reset()">
                            Reset
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card" *ngIf="flag">
        <div class="card-header">
            <div class="card-header-title">Possible macros breakdown</div>
        </div>
        <div class="card-content">
            <div class="columns">
                <div class="column">
                    <h2>Carbohydrates</h2>
                </div> 
                <div class="column">
                    <h2>Proteins</h2>
                </div> 
                <div class="column">
                    <h2>Fats</h2>
                </div> 
            </div>
            <div class="columns">
                <div class="column">
                    <p>{{recommended.carbs}} calories</p>
                </div> 
                <div class="column">
                    <p>{{recommended.protein}} calories</p>
                </div> 
                <div class="column">
                    <p>{{recommended.fats}} calories</p>
                </div> 
            </div>
            <div class="columns">
                <div class="column">
                    <p>{{numGrams.carbs}} grams</p>
                </div> 
                <div class="column">
                    <p>{{numGrams.protein}} grams</p>
                </div> 
                <div class="column">
                    <p>{{numGrams.fats}} grams</p>
                </div> 
            </div>
        </div>
    </div>
</div>